@import '@styles/colors.module.scss';
@import '@styles/animations.module.scss';

.settings {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  &-text {
    &-link {
      color: $primary-blue;
    }
  }

  &-userInfo {
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
