@import '@styles/colors.module.scss';
@import '@styles/animations.module.scss';

.notesPage {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	width: 100%;

	&-categories {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 1rem;
	}
}
