@import '@styles/colors.module.scss';
@import '@styles/fonts.module.scss';
@import '@styles/animations.module.scss';

.eatwyPopup {
	padding: 2rem 1rem 1.5rem 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;

	&-icon {
		width: 4.5rem;
		height: 4.5rem;
		padding: 1.125rem;
		background-color: $primary-blue_opacity-8;
		border-radius: 0.75rem;

		@include bounceIn();
	}

	&-title {
		text-align: center;
		padding: 1rem 0 0 0;
	}

	&-text {
		text-align: center;
		padding: 0.5rem 0 0 0;
	}

	&-button {
		margin: 1.5rem 0 0 0;
		width: 100%;

		&_link {
			width: 100%;
		}
	}
}
